/* style.css */

body {
  font-family: 'Inter', sans-serif;
}



input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"],
textarea {
  transition: box-shadow 0.3s ease;
}



input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  outline: none;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #cbd5e1;
  text-align: left;

}
